<div id="dealbar">
  <p id="dealtext">SPECIAL OFFER - Free delivery to any customer in the Nottingham area </p>
</div>



<!--CAROUSEL-->

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">

    <div class="carousel-item active">
      <%= image_tag("carousel1-desktop.jpg", class: "d-block w-100", alt:"First Slide", height:"400px;", id:"mobilecarousel")%>
    </div>

    <div class="carousel-item">
      <%= image_tag("carousel2-desktop.jpg", class: "d-block w-100", alt:"First Slide", height:"400px;", id:"mobilecarousel")%>
    </div>

    <div class="carousel-item">
      <%=image_tag("carousel3-desktop.jpg", class: "d-block w-100", alt:"First Slide", height:"400px;", id:"mobilecarousel")%>
    </div>

    <div class="carousel-item">
      <%=image_tag("carousel5-desktop.jpg", class: "d-block w-100", alt:"First Slide", height:"400px;", id:"mobilecarousel")%>
    </div>

    <div class="carousel-item">
      <%=image_tag("carousel4-desktop.jpg", class: "d-block w-100", alt:"First Slide", height:"400px;", id:"mobilecarousel")%>
    </div>

  </div>

  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<h3>Feautured Products</h3>
<hr>


<div class="row" id="homepagecontactmaprow">
  <div class="col-12 col-sm-4 abovenavsection" id="homepagecontact">
    <h3 style="padding-top: 20px;"> Contact us </h3>
    <hr>
    <h5>Opening hours:</h5>
    <h5>8:30AM - 5PM  (Monday - Friday)</h5>
    <h5>Send us an email at:</h5>
    <h5><i class="far fa-envelope"></i> - sales@a1directsupplies.co.uk</h5>
    <h5>Call our office during our open times:</h5>
    <h5><i class="fas fa-phone"></i> - 01773 767666 </h5>
    <h5>If calling out of hours please call:</h5>
    <h5><i class="fas fa-mobile"></i> - 07875 971135 </h5>
  </div>
  <div class="col-12 col-sm-8 " id="googlemaps">
    <iframe  height="450" width="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJoX5_CcfseUgRlFeTy4lD200&key=AIzaSyBk3Xyz0fVuEjP63GZ5sY9O4LUlwEgGOuk" allowfullscreen></iframe>
  </div>
</div>
