<p id="notice"><%= notice %></p>
<h2>My Account</h3>
<hr>
<div class="row">
  <div class="col-12 col-sm-6">
    <h5><strong>First Name</strong> : <%=@user.first_name%></h5>
    <h5><strong>Last Name</strong> : <%=@user.last_name%></h5>
    <h5><strong>Phone Number</strong> : <%=@user.phonenumber%></h5>
    <h5><strong>Email</strong> : <%=@user.email%></h5>
  </div>
  <div class="col-12 col-sm-6">
    <span><h3 id="editbutton"><%= link_to 'Edit Account Details', edit_user_path(@user) %><h3></span>
  </div>
  <div class="col-12">
    <h2>Recent Orders</h3>
    <hr>
  </div>
</div>
<p>
