<h2>Order id : #000<%=@order.id%></h2>
<p>Order date - <%=@order.updated_at%></p>
<hr>


<%@carts.each do |cart|%>
<%@product = @products.find(cart.product_id)%>
<div class="row">
  <div class="col-2">
    <%if @product.image.attached?%>
      <p><%=image_tag(@product.image, width: "75%", height: "150px")%></p>
    <%else%>
      <p><%=image_tag(@product.image_url, width: "75%", height: "150px")%></p>
    <%end%>
  </div>
  <div class="col-10">
    <h4><%=@product.name%></h4>
    <hr>
    <p><%=@product.description%></p>
    <h5 class="price-quantity">Price: £<%=number_with_precision(@product.price.to_f / 100, precision: 2)%></h5><h5 class="price-quantity">Quantity: <%=cart.quantity%></h5>
    <h5 id="subtotal">Subtotal : £<%=number_with_precision(cart.subtotal.to_f / 100, precision: 2)%></h5>
  </div>

</div>
<%end%>
<div class="row">
  <div class="col-12">
    <h5 id="shipping"><strong>Courier Charge : £<%=number_with_precision(@order.shipping / 100, precision: 2)%></strong></h5>
  </div>
</div>


<hr>

<h3 style="text-align: right;">Total : £<%=number_with_precision(@order.total / 100, precision: 2)%></h3>
<h2>Delivery Address</h2>
<hr>
<p><%=@order.Street%></p>
<p><%=@order.City%></p>
<p><%=@order.Postcode%></p>
<p><%=@user.first_name%>_<%=@user.last_name%></p>

<%=render partial: '/shared/call'%>
